body {
    text-align: center;
}
form {
    text-align: center;
    background-color: gray;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
input {
    width: 70%;
}
label{
    font-weight: bold;
}
.container{
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
